<md-dialog class="dialogStyle">
      <form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<i class="fa fa-share iconStyle" style="position:absolute;right:0px;" ng-click="answer()"></i>
				<span>{{CHANGE_PASSWORD.title}}</span>
			</div>
		</md-toolbar>		
		
		<md-dialog-content class="md-no-momentum" style="padding:20px;">
			  
			  <span style="color:red;">{{resMsg}}</span>
		
			  <table style="width:100%;" >
			  	<tr>
			  		<td>{{CHANGE_PASSWORD.old_pass}} <span style="color:red;">*</span></td>
			  		<td><input type="password" class="form-control"
								ng-model="oldPassword" /></td>
			  	</tr>
			  	<tr>
			  		<td>{{CHANGE_PASSWORD.new_pass}} <span style="color:red;">*</span></td>
			  		<td><input type="password" class="form-control"
								ng-model="newPassword" /></td>
			  	</tr>
			  	<tr>
			  		<td>{{CHANGE_PASSWORD.conf_pass}} <span style="color:red;">*</span></td>			  		
			  		<td><input type="password" class="form-control"
								ng-model="confirmPassword" /></td>
			  	</tr>
			  </table>
		</md-dialog-content>
	</form>
</md-dialog>