<md-dialog class="dialogStyle">
<form ng-cloak>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<div style="position: absolute; right: 0px;">
			<i class="fa fa-share iconStyle"
				ng-click="answer()"></i>
		</div>
		<h2>{{ADD_INVESTMENT.title}}</h2>
	</div>
	</md-toolbar>

	<md-dialog-content class="md-no-momentum" style="padding:20px;">
	<span style="color: red;">{{errorMsg}}</span>

	<table style="width: 100%;">
		<tr>
			<td>{{ADD_INVESTMENT.date}} <span style="color: red">*</span>
			</td>
			<td><md-datepicker ng-model="date"></md-datepicker></td>
		</tr>
		<tr>
			<td>{{ADD_INVESTMENT.amount}} <span style="color:red">*</span>
			</td>
			<td><input type="text" class="form-control" ng-model="investment.amount"></td>
		</tr>
		<tr>
			<td>{{ADD_INVESTMENT.receiver}} <span style="color:red">*</span></td>
			<td><select class="form-control"
				ng-model="investment.receiver"
				ng-options="receiver.userName for receiver in receivers track by receiver.userId">
					<option value="">{{ADD_INVESTMENT.sel_receiver}}</option>
			</select></td>
		</tr>
	</table>
	</md-dialog-content>
</form>
</md-dialog>