<md-dialog class="dialogStyle">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<i class="fa fa-share iconStyle" ng-if="itemOrder.user.role.roleId==2 || itemOrder.user.role.roleId==8" style="position:absolute;right:0px;" ng-click="printBill1()"></i>
				<h2>{{ORDER_BILL.title}}</h2>
			</div>
		</md-toolbar>
	
		<md-dialog-content style="padding:20px;" name='orderBill'>
			<span style="font-weight:bold;">{{resMsg}}</span>
			 <div>
			 	<div align="center">Order date :<span style="color:red">*</span> 
			 	<md-datepicker ng-model="orderDate"></md-datepicker></div>		  	
			 	<h4>{{ORDER_BILL.items}}</h4>
		 		<table style="width:100%">
				 	<tr ng-repeat="item in itemOrder.orderedItems">
						<td>{{item.item.itemName}}</td>
						<td style="text-align:right;"><span ng-if="item.parcelCount>0" >( P X {{item.parcelCount}} = {{item.parcelCount * 5}}) +</span> ({{item.quantity}} X {{item.item.price}}) 
						= {{item.quantity*item.item.price + item.parcelCount * 5}}</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<hr/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td style="text-align:right;">Total : {{itemOrder.totalAmount}}</td></tr>
		 		</table>
			 </div>
			 <hr>
			 <div ng-if="itemOrder.paymentTypes.length>0">
			 	<h4>{{ORDER_BILL.payment}}</h4>
			 	<table style="width:100%">
				 	<tr ng-repeat="paymentType in itemOrder.paymentTypes" ng-if="paymentType.amount>0">
		              <td>{{paymentType.paymentTypeName}}</td> <td>{{paymentType.amount}}</td>
		            </tr>
	            </table>
			 </div>
		</md-dialog-content>
	</form>
</md-dialog>