<md-dialog class="dialogStyle">
      <form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<div style="position:absolute;right:0px;">
					<i ng-if="item.itemId!=0" class="fa fa-trash iconStyle" ng-click="deleteI()"></i>
					<i class="fa fa-share iconStyle" ng-click="answer()"></i>
				</div>
				<h2><span ng-if="item.itemId==0">{{ITEM_ADD.add_item}}</span>
				<span ng-if="item.itemId!=0">{{ITEM_ADD.edit_item}}</span></h2>
			</div>
		</md-toolbar>		
		
		<md-dialog-content class="md-no-momentum" style="padding:20px;">
			  
			  <span style="color:red;">{{resMsg}}</span>
		
			  <table style="width:100%;" >
			  	<tr>
			  		<td>{{ITEM_ADD.id}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="item.itemStoreId" class="form-control"></td>
			  	</tr>
			  	<tr>
			  		<td>{{ITEM_ADD.name}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="item.itemName" class="form-control"></td>
			  	</tr>
			  	<tr>
			  		<td>{{ITEM_ADD.category}} <span style="color:red;">*</span></td>
			  		<td><select class="form-control" ng-model="item.subcategory" ng-options="itemCategory.subcategoryName for itemCategory in details track by itemCategory.subcategoryId">
                        		<option value="">Select Category</option>
                        	</select></td>
			  	</tr>
			  	<tr>
			  		<td>{{ITEM_ADD.price}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="item.price" class="form-control"></td>
			  	</tr>
			  </table>
			  <div ng-if="item.itemId!=0 && item.materialList.length!=0">	  	
			 	<h4>Materials</h4>
		 		<table style="width:100%" class="table table-bordered">
		 			<tr>
		 				<th>Name</th>
		 				<th>Quantity</th>
		 			</tr>
				 	<tr ng-repeat="material in item.materialList">
						<td>{{material.material.materialName}}</td>
						<td>{{material.quantity}}</td>
					</tr>
		 		</table>
			 </div><br>
		  	<div ng-if="item.itemId!=0" style="width:100%;text-align:center;">
		  		<input type="button" class="btn btn-primary" ng-click="updateMaterials()" value="Update Materials"/>
		  	</div>
		</md-dialog-content>
	</form>
</md-dialog>