<md-dialog class="dialogStyle">
      <form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<div style="position:absolute;right:0px;">
					<i ng-if="material.materialId!=0" class="fa fa-trash iconStyle" ng-click="deleteI()"></i>
					<i class="fa fa-share iconStyle" ng-click="answer()"></i>
				</div>
				<h2><span ng-if="material.materialId==0">{{MATERIAL_ADD.add_mat}}</span>
				<span ng-if="material.materialId!=0">{{MATERIAL_ADD.edit_mat}}</span></h2>
			</div>
		</md-toolbar>		
		
		<md-dialog-content class="md-no-momentum" style="padding:20px;">
			  <span style="color:red;">{{resMsg}}</span>
		
			  <table style="width:100%;" >
			  	<tr>
			  		<td>{{MATERIAL_ADD.mat_name}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="material.materialName" class="form-control"></td>
			  	</tr>
			  	<tr>
			  		<td>{{MATERIAL_ADD.mat_category}} <span style="color:red;">*</span></td>
			  		<td><select class="form-control" ng-model="material.materialCategory" ng-options="materialCategory.materialCategoryName for materialCategory in details.materialCategories track by materialCategory.materialCategoryId">
                        		<option value="">{{MATERIAL_ADD.sel_mat_category}}</option>
                        	</select></td>
			  	</tr>
			  	<tr>
			  		<td>{{MATERIAL_ADD.mat_type}} <span style="color:red;">*</span></td>			  		
			  		<td><select class="form-control" ng-model="material.materialType" ng-options="materialType.materialTypeName for materialType in details.materialTypes track by materialType.materialTypeId">
                        		<option value="">{{MATERIAL_ADD.sel_mat_type}}</option>
                        	</select></td>
			  	</tr>
			  	<tr>
			  		<td>{{MATERIAL_ADD.quan_type}} <span style="color:red;">*</span></td>
			  		<td><select class="form-control" ng-model="material.quantityType" ng-options="quantityType.quantityTypeName for quantityType in details.quantityTypes track by quantityType.quantityTypeId">
                         		<option value="">{{MATERIAL_ADD.sel_quan_type}}</option>
                         	</select></td>
			  	</tr>
			  	<tr>
			  		<td>{{MATERIAL_ADD.pack_cost}}</td>
			  		<td><input ng-model="material.packCost" class="form-control"></td>
			  	</tr>
			  </table>
		</md-dialog-content>
	</form>
</md-dialog>