<md-dialog class="dialogStyle">
      <form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<i class="fa fa-share iconStyle" style="position:absolute;right:0px;" ng-click="answer()"></i>
				<h2>{{MATERIAL_ORDER.title}}</h2>
			</div>
		</md-toolbar>		
		
		<md-dialog-content class="md-no-momentum" style="padding:20px;">
			  
			  <span style="color:red;">{{errorMsg}}</span>
			  
			  <div style="width:100%;text-align: center;">
					<md-radio-group ng-model="orderType" ng-change="filterWithDate()">
					<md-radio-button style="display:inline-block;margin-right:15px;"
						value="0">{{MATERIAL_ORDER.direct}}</md-radio-button> <md-radio-button
						style="display:inline-block" value="1">{{MATERIAL_ORDER.vendor}}</md-radio-button>
					</md-radio-group>
			  </div>
		
			  <table style="width:100%;">
			  	<tr ng-show="orderType==0">
			  		<td colspan="2" style="text-align:center;"><h4 style="margin:0;margin-bottom:10px;font-weight:bold;">{{MATERIAL_ORDER.amount}} : {{paymentAmount}}</h4></td>
			  	</tr>
			  	<tr>
			  		<td>{{MATERIAL_ORDER.date}} <span style="color:red">*</span> </td>
			  		<td><md-datepicker ng-model="orderDate"></md-datepicker></td>
			  	</tr>
			  	<tr ng-show="orderType==0">
			  		<td>{{MATERIAL_ORDER.method}} <span style="color:red">*</span></td>
			  		<td>
			  			<table style="width:100%;">
							<tr ng-repeat="paymentType in paymentTypes" ng-if="(user.role.roleId == 2 && paymentType.common==0) || (user.role.roleId !=2)" >
								  <td style="padding:5px;">
						               {{ paymentType.paymentTypeName }}
					              </td>
					              <td style="padding:5px">
				              		<input type="number" id="q{{paymentType.paymentTypeId}}" min="0" class="form-control" ng-model="paymentType.amount" click-outside="closeThis('q{{paymentType.paymentTypeId}}')"/>
				              	  </td>
			              	</tr>
			             </table>
			  		</td>
			  	</tr>
			  	<tr ng-show="orderType==1">
			  		<td>{{MATERIAL_ORDER.vendor}} <span style="color:red">*</span></td>
			  		<td><select class="form-control" ng-model="vendor" ng-options="vendor.userName for vendor in vendors track by vendor.userId">
					<option value="">{{MATERIAL_ORDER.sel_vendor}}</option>
                       	</select></td>
			  	</tr>
			  	<tr ng-show="orderType==0">
			  		<td>{{MATERIAL_ORDER.bill}}</td>
			  		<td><input type="file" class="form-control" ng-model="paymentBill" accept="image/*" app-filereader /><br>
			  	</tr>
			  </table>
			 <div ng-show="orderType==0" style="text-align:center">
			 	<img style="width:auto;max-width:100%;height:auto;" src="{{paymentBill}}"/>
			 </div>
		</md-dialog-content>
	</form>
</md-dialog>