<md-dialog class="dialogStyle">
      <form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<div style="position:absolute;right:0px;">
					<i class="fa fa-trash iconStyle" ng-click="deleteI()"></i>
					<i class="fa fa-share iconStyle" ng-click="answer()"></i>
				</div>
				<h2>{{ORDER_ITEM.title}}</h2>
			</div>
		</md-toolbar>		
		
		<md-dialog-content class="md-no-momentum" style="padding:15px;">
			  
			  <span style="color:red;">{{resMsg}}</span>
		
			  <table style="width:100%;" >
			  	<tr>
			  		<td colspan="2" style="text-align:center;"><h4 style="margin:0;margin-bottom:10px;font-weight:bold;">{{orderItem1.item.itemStoreId}} : {{orderItem1.item.itemName}}</h4></td>
			  	</tr>
			  	<tr>
			  		<td>{{ORDER_ITEM.quantity}} <span style="color:red;">*</span></td>
			  		<td>
			  		<div style="width:100%;text-align:center;">
						<span class="iconStyle" ng-click="(orderItem1.quantity>1) && (orderItem1.quantity = orderItem1.quantity-1)"><i class="fa fa-minus" style="padding:2px;border:1px solid black;border-radius:15px;"></i></span>
						<input type="number" min="1" id="q1" class="form-control" ng-model="orderItem1.quantity" style="text-align:center;width:100px;display:inline-block;" click-outside="closeThis('q1')"/>
						<span class="iconStyle" ng-click="(orderItem1.quantity = orderItem1.quantity+1) ;"><i class="fa fa-plus" style="padding:2px;border:1px solid black;border-radius:15px;"></i></span>
					</div>
					</td>
			  	</tr>
			  	<tr ng-if="user.role.roleId!=CST_COM.roles.substore">
			  		<td>{{ORDER_ITEM.parcel}} <span style="color:red;">*</span></td>
			  		<td><div style="width:100%;text-align:center;">
						<span class="iconStyle" ng-click="(orderItem1.parcelCount>0) && (orderItem1.parcelCount = orderItem1.parcelCount-1)"><i class="fa fa-minus" style="padding:2px;border:1px solid black;border-radius:15px;"></i></span>
						<input type="number" min="0" id="q2" class="form-control" ng-model="orderItem1.parcelCount" style="text-align:center;width:100px;display:inline-block;" click-outside="closeThis('q2')"/>
						<span class="iconStyle" ng-click="(orderItem1.parcelCount<orderItem1.quantity) && (orderItem1.parcelCount = orderItem1.parcelCount+1)"><i class="fa fa-plus" style="padding:2px;border:1px solid black;border-radius:15px;"></i></span>
					</div></td>
			  	</tr>
			  </table>
		</md-dialog-content>
	</form>
</md-dialog>