<md-dialog class="dialogStyle">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<div style="position:absolute;right:0px;">
					<i class="fa fa-thumbs-up iconStyle" ng-if="(user.userId==info.receiver.userId) && (info.status.id==1)" ng-click="answer()"></i>
				</div>
				<h2>{{PAYMENT_INFO.title}}</h2>
			</div>
		</md-toolbar>
	
		<md-dialog-content style="padding:20px;">
			 <div>	
		 		<table style="width:100%" class="table table-bordered">
		 			<tr>
		 				<th>{{PAYMENT_INFO.type}}</th>
		 				<th>{{PAYMENT_INFO.amount}}</th>
		 			</tr>
		 			
				 	<tr ng-repeat="paymentType in info.paymentTypes" ng-if="paymentType.common==0">
						<td>{{paymentType.paymentTypeName}}</td>
						<td>{{paymentType.amount}}</td>
					</tr>
		 		</table>
			 </div>
		</md-dialog-content>
	</form>
</md-dialog>