<md-dialog class="dialogStyle">
      <form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<i class="fa fa-share iconStyle" style="position:absolute;right:0px;" ng-click="answer()"></i>
				<span>{{STORE_ADD.title}}</span>
			</div>
		</md-toolbar>		
		
		<md-dialog-content class="md-no-momentum" style="padding:20px;">
			  
			  <span style="color:red;">{{resMsg}}</span>
		
			  <table style="width:100%;" >
			  	<tr>
			  		<td>{{STORE_ADD.id}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="storeId" class="form-control"></td>
			  	</tr>
			  	<tr>
			  		<td>{{STORE_ADD.name}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="storeName" class="form-control"></td>
			  	</tr>
			  	<tr>
			  		<td>{{STORE_ADD.location}} <span style="color:red;">*</span></td>
			  		<td><input ng-model="location" class="form-control"></td>
			  	</tr>
			  </table>
		</md-dialog-content>
	</form>
</md-dialog>