<div class="row" ng-controller="AdminController">
	<div class="col-sm-12">
		<div class="cardStyle">
			<div class="cardHeader">
				<i class="fa fa-plus iconStyle"
						style="float: right;"
						ng-click="openAddStoreDialog($event)"></i><a align='center'>{{UI_ADMIN_PANEL.stores}}</a>
			</div>
			<div class="cardBody" style="overflow:auto;">
				<div style="position: relative; width: 100%;">
					<input type="text" id="query" ng-model="query1" placeholder="Search"
						class="form-control" style="font-size: 17px;" click-outside="closeThis('query1')"/> 
						<a ng-show="query!=''" class="search-icon" ng-click="query=''"> <i class="fa fa-times" id="myimage"></i> </a>
				</div>
				<div class="cardBodyMain" style="overflow:auto;">
					<table class="table table-bordered table-condensed table-striped table-hover"
						style="width: 100%;">
						<tr>
							<th ng-click="sort('id')">{{UI_ADMIN_PANEL.id}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='id'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
							<th ng-click="sort('name')">{{UI_ADMIN_PANEL.name}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='name'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
							<th ng-click="sort('role')">{{UI_ADMIN_PANEL.location}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='location'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
							<th ng-click="sort('users')">{{UI_ADMIN_PANEL.users}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='users'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						</tr>
						<tr
							ng-repeat="store in stores | orderBy:sortKey:reverse| filter: query1">
							<td>{{store.storeId}}</td>
							<td>{{store.storeName}}</td>
							<td>{{store.location}}</td>
							<td><table class="table table-bordered table-condensed table-striped table-hover">
								<!-- <tr>
									<th>{{UI_ADMIN_PANEL.name}}</th>
									<th>{{UI_ADMIN_PANEL.role}}</th>
								</tr> -->
								<tr ng-repeat="user in store.users">
									<td>{{user.userName}}</td>
									<td>{{user.role.roleName}}</td>
								</tr>
							</table></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>