<div ng-controller="BalanceSheetController">
	<div class="row" style="text-align: center; margin-bottom: 10px;">
		<div class="col-sm-12">
			<div ng-include="'templates/include/date_ui.html'"></div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-12" style="text-align: center;">
			<div>
				<div class="statusCircle" ng-class='{green1 : difference>0, red : difference<0}' ng-if="difference!=0">
					<div>
						<span>{{profitLoss}}</span><br> <span>{{ diff | roundup}}</span>
					</div>
				</div>
				<div class="statusCircle" style='background-color: #2B6F04'>
					<div>
						<span>{{UI_BALANCE_SHEET.credit}}</span><br> <span>{{
							creditAmount | roundup}}</span>
					</div>
				</div>

				<div class="statusCircle" style='background-color: #cc0000'>
					<div>
						<span>{{UI_BALANCE_SHEET.debit}}</span><br> <span>{{
							debitAmount | roundup}}</span>
					</div>
				</div><!-- 
				
				<div ng-repeat="(key, value) in paymentTypes" class="statusCircle" style='background-color: #2B6F04'>
					<div>
						<span>{{key}}</span><br> <span>{{value.creditAmount}} / {{value.debitAmount}}</span>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="cardStyle">
				<div class="cardHeader">
					<a align='center'>{{UI_BALANCE_SHEET.title}}</a>
				</div>
				<div class="cardBody">
					<div class="cardBodyMain">
						<div ng-if="balanceSheet.length == 0"
							style='text-align: center; padding: 10px;'>
							<img src="images/balance_sheet.jpg" class="makeCenter noMatter"/></div>
						<div ng-if="balanceSheet.length > 0" style="width: 100%; overflow: auto;">
							<table
								class="table table-bordered table-condensed table-striped table-hover">
								<tr>
									<th ng-click="sort('date')">{{UI_BALANCE_SHEET.date}} <span
										class="glyphicon sort-icon" ng-show="sortKey=='date'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-click="sort('desc')">{{UI_BALANCE_SHEET.desc}} <span
										class="glyphicon sort-icon" ng-show="sortKey=='desc'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-click="sort('amount')">{{UI_BALANCE_SHEET.amount}}
										<span class="glyphicon sort-icon" ng-show="sortKey=='amount'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
								</tr>
								<tr
									ng-repeat="balance in balanceSheet | orderBy:sortKey:reverse" ng-click="openPaymentTypes($event,balance)">
									<td style="min-width:80px;">{{dateOnly(balance.date)|date:'yy-MM-dd HH:mm'}}</td>
									<td>{{balance.desc}}</td>
									<td><span ng-if="balance.amount>0" style='color:green;font-weight:bold;'>+{{balance.amount | roundup}} (Cr)</span>
									<span ng-if="balance.amount<0" style='color:red;font-weight:bold;'>{{balance.amount | roundup}} (Dr)</span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>