<div ng-controller="ProfileController">
	<div class="row">
		<div class="col-xs-12">
			<div class="cardStyle">
				<div class="cardHeader">
					<a align='center'>{{CHANGE_PASSWORD.title}}</a>
				</div>
				<div class="cardBody">
					<br>
					<span align="center" style="font-weight:bold;color:red;">{{resMsg}}</span>
					<table align="center" style="border-spacing: 5px;" class="formTable">
						<tr>
							<td><span>{{CHANGE_PASSWORD.old_pass}} :</span></td>
							<td><input type="password" class="form-control"
								ng-model="oldPassword" /></td>
						</tr>
						
						<tr>
							<td><span>{{CHANGE_PASSWORD.new_pass}} :</span></td>
							<td><input type="password" class="form-control"
								ng-model="newPassword" /></td>
						</tr>
						
						<tr>
							<td><span>{{CHANGE_PASSWORD.conf_pass}} :</span></td>
							<td><input type="password" class="form-control"
								ng-model="confirmPassword" /></td>
						</tr>
					</table>
					<div class="dialog-demo-content" style="text-align:center;">
						<md-button class="md-primary md-raised"
							ng-click="changePassword()"> {{CHANGE_PASSWORD.submit}} </md-button>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>