<div ng-controller="DashboardController">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-12" style="text-align: center;">
			<div>
				<div class="statusCircle" style='background-color: {{colors[$index%6]}}'
					ng-repeat="user in users" ng-if="user.role.roleId!=6 && user.role.roleId!=8 && user.role.roleId!=9">
					<div>
						<span>{{ user.userName }}</span><br> <span>{{getUserTotalAmount(user.userId) | roundup}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="cardStyle">
				<div class="cardHeader">
					<i ng-if="user.role.roleId==5" class="fa fa-thumbs-up iconStyle"
						style="float: right;"
						ng-click="settleAmount()"></i> <a align='center'>{{UI_DASHBOARD.title}}</a>
				</div>
				<div class="cardBody" style="overflow: auto;">
					<table
						class="table table-bordered table-condensed table-striped table-hover"
						style="width: 100%" border="1">
						<tr>
							<td></td>
							<td ng-repeat="paymentType in paymentTypes">{{paymentType.paymentTypeName}}</td>
						</tr>
						<tr ng-repeat="user in users" ng-if="user.role.roleId!=6 && user.role.roleId!=8 && user.role.roleId!=9">
							<td>{{user.userName}} ({{user.role.roleName}})</td>
							<td ng-repeat="paymentType in paymentTypes">{{getAmount(user.userId,paymentType.paymentTypeId) | roundup}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>