<div ng-controller="DayCloseController">
	<div class="row" style="text-align: center;margin-bottom:10px;">
		<div class="col-sm-12">
			<div ng-include="'templates/include/date_single_ui.html'"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="cardStyle">
				<div class="cardHeader">
					<i ng-if="dayClose.status.id!=2" class="fa fa-share iconStyle" style="float:right;" ng-click="addDayCloseInfo()"></i>
					<img style="width:22px;height:auto;margin-right:20px;float:right;" ng-click="addExpenses()" src="images/exp.png"/>
					<a align='center'>{{UI_DAY_CLOSE.title}}</a>
				</div>
				<div class="cardBody"><!-- ng-if="((dayClose.creditAmount != 0) || (dayClose.debitAmount != 0))" -->
					<br>
					<div style="width:100%;text-align:center;">
						<span style="font-weight:bold;color:red;">{{resMsg}}</span>
					</div>
					<table align="center" style="border-spacing: 5px;" class="formTable">
						<tr>
							<td><span>{{UI_DAY_CLOSE.exp}} :</span></td>
							<td>{{dayClose.debitAmount}}</td>
						</tr>
						<tr ng-repeat="paymentType in dayClose.paymentTypes" ng-if="paymentType.common==0">
							<td><span>{{
									paymentType.paymentTypeName }} :</span></td>
							<td><input
								class="form-control" id="q{{paymentType.paymentTypeId}}" type="number" ng-model="paymentType.amount"/></td>
						</tr>
						<tr>
							<td><span>{{UI_DAY_CLOSE.ccleft}} :</span></td>
							<td><input type="number" id="ccl" class="form-control"
								ng-model="dayClose.counterCash" click-outside="closeThis('ccl')" /></td>
						</tr>
						<tr>
							<td><span>{{UI_DAY_CLOSE.receiver}} :</span></td>
							<td><select class="form-control" ng-model="dayClose.receiver" ng-options="receiver.userName for receiver in receivers track by receiver.userId">
								<option value="">{{UI_DAY_CLOSE.sel_recei}}</option>
                          	</select></td>
						</tr>
						<tr>
							<td><span>{{UI_DAY_CLOSE.status}} :</span></td>
							<td>{{dayClose.status.name}}</td>
						</tr>
					</table>
					<br>
				</div><!-- 
				<div class="cardBody" ng-if="(dayClose.creditAmount == 0) && (dayClose.debitAmount == 0)" style='text-align: center; padding: 10px;'>
					{{UI_DAY_CLOSE.no_close_info}}
				</div> -->
			</div>
		</div>
	</div>
</div>