<div ng-controller="DayCloseInfoController">
	<div class="row" style="text-align: center;">
		<md-radio-group ng-model="ownerType" ng-change="filterWithDate()">
		<md-radio-button style="display:inline-block;margin-right:15px;"
			value="0">All</md-radio-button> <md-radio-button
			style="display:inline-block" value={{user.userId}}>You</md-radio-button>
		</md-radio-group>
	</div>
	<div class="row" style="text-align: center; margin-bottom: 10px;">
		<div class="col-sm-12">
			<div ng-include="'templates/include/date_ui.html'"></div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-12" style="text-align: center;">
			<div>
				<div class="statusCircle"
					ng-repeat="userDayCloseInfo in userDayCloseInfos"
					style="background-color: {{colors[$index%5]}}">
					<div>
						<span>{{ userDayCloseInfo.user.userName }}</span><br> <span>{{
							userDayCloseInfo.accAmount | roundup}} / {{ userDayCloseInfo.unAccAmount | roundup
							}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="cardStyle">
				<div class="cardHeader">
					<a align='center'>{{UI_DAY_CLOSE_INFO.info}}</a>
				</div>
				<div class="cardBody">
					<div class="cardBodyMain">
						<div ng-if="infos.length == 0"
							style='text-align: center; padding: 10px;'><img src="images/day_close.jpg" class="makeCenter noMatter"/></div>
						<div ng-if="infos.length > 0" style="width: 100%; overflow: auto;">
							<table
								class="table table-bordered table-condensed table-striped table-hover"
								style="width: 100%;">
								<tr>
									<th ng-click="sort('date')">{{UI_DAY_CLOSE_INFO.date}}<span
										class="glyphicon sort-icon" ng-show="sortKey=='date'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-click="sort('receiver')">{{UI_DAY_CLOSE_INFO.receiver}}
										<span class="glyphicon sort-icon"
										ng-show="sortKey=='receiver'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('credit')">{{UI_DAY_CLOSE_INFO.credit}}
										<span class="glyphicon sort-icon" ng-show="sortKey=='credit'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('debit')">{{UI_DAY_CLOSE_INFO.debit}}
										<span class="glyphicon sort-icon" ng-show="sortKey=='debit'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('cC')">{{UI_DAY_CLOSE_INFO.counter_cash}}
										<span class="glyphicon sort-icon" ng-show="sortKey=='cC'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('disturbance')">{{UI_DAY_CLOSE_INFO.disturbance}}
										<span class="glyphicon sort-icon"
										ng-show="sortKey=='disturbance'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('status')">{{UI_DAY_CLOSE_INFO.status}}
										<span class="glyphicon sort-icon"
										ng-show="sortKey=='status'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<!-- <th ng-click="sort('user')">User <span
										class="glyphicon sort-icon" ng-show="sortKey=='user'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									</tr> -->
								<tr
									ng-repeat="info in infos | orderBy:sortKey:reverse| filter: search"
									ng-click="openDayCloseInfo($event,info)">
									<td style="min-width:70px;">{{dateOnly(info.date)|date:'yy-MM-dd'}}</td>
									<td>{{info.receiver.userName}}</td>
									<td>{{info.creditAmount | roundup}}</td>
									<td>{{info.debitAmount | roundup}}</td>
									<td>{{info.counterCash | roundup}}</td>
									<td
										ng-class='{red : info.disturbance<0, yellow:info.disturbance==0, green: info.disturbance>0}' style="color:white;">{{info.disturbance | roundup}}</td>
									<td>{{info.status.name}}</td>
									<!-- 
									<td>{{info.user.userName}}</td> -->
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>