<div ng-controller="LoginController">
	<br> <br> <br>

	<div style="width: 100%; max-width: 500px;">
		<form name="userForm" ng-submit="login()" class="form">
			<md-input-container class="md-block"> <label>{{UI_LOGIN.username}}</label> <input type="text" ng-model="userName" name="userName" required>
			</md-input-container>

			<md-input-container class="md-block"> <label>{{UI_LOGIN.password}}</label>
			<input type="password" ng-model="password" name="password" required>
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary" style="margin:0px;">{{UI_LOGIN.login}}</md-button>
			<span style="color: red">{{ error }}</span>
		</form>
	</div>

</div>