<div class="row" ng-controller="ManageUserController">
	<div class="col-sm-12">
		<div class="cardStyle">
			<div class="cardHeader">
				<i class="fa fa-plus iconStyle"
						style="float: right;"
						ng-click="openAddUpdateUserDialog($event,'',-1,0)"></i><a align='center'>{{UI_MANAGE_USER.users}}</a>
			</div>
			<div class="cardBody">
				<div style="position: relative; width: 100%;">
					<input type="text" id="query" ng-model="query" placeholder="Search"
						class="form-control" style="font-size: 17px;" click-outside="closeThis('query')"/> 
						<a ng-show="query!=''" class="search-icon" ng-click="query=''"> <i class="fa fa-times" id="myimage"></i> </a>
				</div>
				<div class="cardBodyMain">
					<table class="table table-bordered table-condensed table-striped table-hover"
						style="width: 100%;">
						<tr>
							<th ng-click="sort('id')">{{UI_MANAGE_USER.id}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='id'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
							<th ng-click="sort('name')">{{UI_MANAGE_USER.name}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='name'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
							<th ng-click="sort('role')">{{UI_MANAGE_USER.role}} <span
								class="glyphicon sort-icon" ng-show="sortKey=='role'"
								ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						</tr>
						<tr
							ng-repeat="user in users | orderBy:sortKey:reverse| filter: query" ng-if="user.role.roleId!=6" ng-click="openAddUpdateUserDialog($event,user,$index,1)">
							<td>{{user.userId}}</td>
							<td>{{user.userName}}</td>
							<td>{{user.role.roleName}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>