<div ng-controller="SaleController">
	<div class="row" style="text-align: center;margin-bottom:10px;">
		<div class="col-sm-12">
			<div ng-include="'templates/include/date_ui.html'"></div>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px;">
		<div class="col-sm-12" style="text-align: center;">
			<div>
				<div class="statusCircle" style='background-color: #8E44AD'>
					<div>
						<span>{{UI_CREDITS.credit}}</span><br> <span>{{
							totalCreditAmount | roundup}}</span>
					</div>
				</div>

				<div class="statusCircle" style='background-color: #ea781a'>
					<div>
						<span>{{UI_CREDITS.receipts}}</span><br> <span>{{
							itemOrders.length }}</span>
					</div>
				</div>

				<div class="statusCircle" style='background-color: #2B6F04'
					ng-repeat="paymentType in paymentTypes"
					ng-if="paymentType.amount>0">
					<div>
						<span>{{ paymentType.paymentTypeName }}</span><br> <span>{{
							paymentType.amount }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="cardStyle">
				<div class="cardHeader">
					<a align='center'>{{UI_CREDITS.categories}}</a>
				</div>
				<div class="cardBody">

					<div style="position: relative;">
						<input type="text" id="q2" ng-model="query" placeholder="Search"
							class="form-control" click-outside="closeThis('q2')" /> <a
							ng-show="query!=''" class="search-icon" style="padding-left:10px;padding-right:10px;" ng-click="query=''">
							<i class="fa fa-times" id="myimage"></i>
						</a> </a>
					</div>
					<div class="cardBodyMain" style="position:relative;">
						<div ng-if="sales.subcategories.length == 0"
							style='text-align: center; padding: 10px;'>
							<img src="images/no_item_sales.jpg" class="makeCenter noMatter"/></div>
						<div ng-if="sales.subcategories.length > 0">
							<md-list class="md-dense" flex> <md-list-item
								ng-repeat="orderSubcategory in sales.subcategories | filter : query">
							<div class="row" style="width: 100%; padding: 5px;" ng-click="subcategory1.subcategoryName=orderSubcategory.subCategory.subcategoryName">
								<div style="float: right">
									<span align="right">{{ orderSubcategory.totalAmount }}</span>
								</div>
								<div style="display: inline-block; vertical-align: top;">
									<div class="itemCircle"></div>
								</div>
								<div
									style="display: inline-block; margin-left: 15px; vertical-align: top;">
									<span>{{ orderSubcategory.subCategory.subcategoryName }}</span><br>
									<span style="color: grey;">X {{
										orderSubcategory.quantity }}</span>
								</div>
							</div>
							<md-divider></md-divider> </md-list-item> </md-list>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="cardStyle">
				<div class="cardHeader">
					<a align='center'>{{UI_CREDITS.items}}</a>
				</div>
				<div class="cardBody">
					<div style="position: relative;">
						<input type="text" id="q1" ng-model="query1" placeholder="Search"
							class="form-control" click-outside="closeThis('q1')" /> <a
							ng-show="query1!=''" class="search-icon" style="padding-left:10px;padding-right:10px;" ng-click="query1=''">
							<i class="fa fa-times" id="myimage"></i>
						</a>
					</div>
					<div class="cardBodyMain" style="position:relative;">
						<div ng-if="sales.items.length == 0"
							style='text-align: center; padding: 10px;'>
							<img src="images/no_cat_sales.jpg" class="makeCenter noMatter"/></div>
						<div ng-if="sales.items.length > 0">
							<md-list class="md-dense" style="width:100%;" flex> <md-list-item
								ng-repeat="orderItem in sales.items | filter : search">
							<div class="row" style="width: 100%; padding: 5px;">
								<div style="float: right">
									<span align="right">{{
										orderItem.quantity*orderItem.item.price }}</span>
								</div>
								<div style="display: inline-block; vertical-align: top;">
									<div class="itemCircle"></div>
								</div>
								<div
									style="display: inline-block; margin-left: 15px; vertical-align: top;">
									<span>{{ orderItem.item.itemName }}</span><br> <span
										style="color: grey;">X {{ orderItem.quantity }}</span>
								</div>
							</div>
							<md-divider></md-divider> </md-list-item></md-list>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="cardStyle">
				<div class="cardHeader">
					<a align='center'>{{UI_CREDITS.orders.title}}</a>
				</div>
				<div class="cardBody">
					<div class="cardBodyMain">
						<div ng-if="itemOrders.length == 0"
							style='text-align: center; padding: 10px;'>
							<img src="images/sales.jpg" class="makeCenter noMatter"/></div>
						<div ng-if="itemOrders.length > 0">
							<table
								class="table table-bordered table-condensed table-striped table-hover"
								style="width: 100%;">
								<tr>
									<th ng-click="sort('id')">{{UI_CREDITS.orders.id}} <span
										class="glyphicon sort-icon" ng-show="sortKey=='id'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-if="filterBy !='day' && filterBy != 'today'" ng-click="sort('date')">{{UI_CREDITS.orders.date}} <span
										class="glyphicon sort-icon" ng-show="sortKey=='date'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-if="filterBy =='day' || filterBy == 'today'" ng-click="sort('time')">{{UI_CREDITS.orders.time}} <span
										class="glyphicon sort-icon" ng-show="sortKey=='time'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-click="sort('user')">{{UI_CREDITS.orders.user}} <span
										class="glyphicon sort-icon" ng-show="sortKey=='user'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
									<th ng-click="sort('amount')">{{UI_CREDITS.orders.amount}}
										<span class="glyphicon sort-icon" ng-show="sortKey=='amount'"
										ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
								</tr>
								<tr
									ng-repeat="order in itemOrders | orderBy:sortKey:reverse"
									ng-click="openOrder($event,order)">
									<td>{{order.orderId}}</td>
									<td ng-if="filterBy !='day' && filterBy !='today'">{{dateOnly(order.orderDate)|date:'yy-MM-dd'}}</td>
									<td ng-if="filterBy =='day' || filterBy == 'today'">{{dateOnly(order.orderDate)|date:'HH:mm'}}</td>
									<td>{{order.user.userName}}</td>
									<td>{{order.totalAmount | roundup}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>