<select class="form-control" style="width:100px;float:right;" ng-model="$parent.filterBy" ng-change="filterType()">
	<option value="day">Day</option>
	<option value="today">Today</option>
	<option value="custom">Custom</option>
</select>	
<div>
	<div ng-if="filterBy!='custom'"
		style="text-align: center; cursor: pointer; font-size: 22px;">
		<span ng-click="previous()" class="iconStyle" style="font-size:24px;"> < </span>
		<div
			style="display: inline-block;">
			<span ng-if="filterBy == 'day' || filterBy == 'today'">
				{{day +" "+ months[month-1]+" "+ year}} </span>
		</div>
		<span ng-click="next()" class="iconStyle" style="font-size:24px;"> > </span>
	</div>
	<div ng-show="filterBy=='custom'">
		<div style="display: inline-block;">
			<md-datepicker ng-model="$parent.dateMain" ng-change="filterWithDate()"></md-datepicker>
		</div><!-- 
		<div style="display: inline-block;">
			<button class="btn" style="background-color:rgb(3,169,244);color:white;" ng-click="filterWithDate()"> <i class="fa fa-filter"></i> </button>
		</div> -->
	</div>
</div>