<div class="md-toolbar-tools" style="font-size:16px;">
	<ng-md-icon icon="menu" class="my-icon" ng-show="user.userName"
		ng-click="openSideNavPanel()"></ng-md-icon>
	<h4 ng-show="store.storeName" style="margin-top:7px;" ng-click="openSideNavPanel()">
		&nbsp;&nbsp;&nbsp;{{pageTitle}}</h4>
	<h4 ng-show="!store.storeName" style="margin-top:7px;">&nbsp;&nbsp;&nbsp;{{header}}</h4>
	<span flex></span> 
	
	<div ng-show="user.userName" style="position:relative">
		<div ng-if="notificationCount>0" class="notification"> {{notificationCount}} </div>
		<ng-md-icon icon="notifications" class="my-icon iconStyle" style="cursor:pointer;" ng-click="opened=!opened;updateNotificationsAsRead()"></ng-md-icon>
		<div ng-show="opened" class="notificationDiv" click-outside="closeNotifications()" style="color:black;">
			<div
				style="width: 100%; padding: 5px; text-align: center; border-bottom: 1px solid #DCDCDC; background-color: #f5f5f5;">
				<span>NOTIFICATIONS </span>
				<div
					style="margin-left: 10px; vertical-align: middle; display: inline-block; font-size: 12px; padding-left: 5px; padding-right: 5px; background-color: rgb(3, 169, 244); border-radius: 10px; color: white;">{{notificationCount}}</div>
			</div>
			<div ng-if="notifications.length==0" class="makeCenter">No
				notifications
			</div>
			<div style="height:165px;overflow:auto;">
				<div ng-repeat="notification in notifications"
					ng-click="openStoreOrders()"
					style="cursor: pointer; font-size:14px; padding: 5px; border-bottom: 1px solid #DCDCDC">
					<span>{{notification.notificationDesc}}</span><br> <span
						style="float: right; font-size: 12px;">{{dateOnly(notification.date)|date:'yy-MM-dd hh:mm'}}</span>
					<div style="clear: both"></div>
				</div>
			</div>
		</div>
	</div>
		
	<md-menu ng-show="user.userName"> 
	<ng-md-icon
		icon="more_vert" class="my-icon iconStyle" style="cursor:pointer;"
		ng-click="$mdOpenMenu($event)"></ng-md-icon> 
		
		<md-menu-content
		width="4"> 
		
		<md-menu-item ng-if="user.role.roleId==6"> <md-button
		ng-click="openAdminPanel()">

	<div layout="row">
		<p flex>Admin Panel</p>
	</div>

	</md-button> </md-menu-item>
		
		<md-menu-item ng-if="((user.storeList.length>1) && (store.storeName)) || (user.role.roleId==CST_COM.roles.admin)"> <md-button
		ng-click="switchStore()">

	<div layout="row">
		<p flex>Switch store</p>
	</div>

	</md-button> </md-menu-item>
	
	<md-menu-item ng-if="(user.role.roleId==CST_COM.roles.kitchen)"> <md-button
		ng-click="switchCategory()">

	<div layout="row">
		<p flex>Switch category</p>
	</div>

	</md-button> </md-menu-item>  <md-menu-item> <md-button ng-click="logout()">

	<div layout="row">
		<p flex>Logout</p>
	</div>

	</md-button> </md-menu-item> </md-menu-content> </md-menu>
</div>